/*=============== HERO SECTION STYLE ===============*/
#hero {
    padding-top: 12rem;
    padding-bottom: 0;
    position: relative;
    overflow-x: hidden;
    background-color: var(--color-yellow);
}
/*=============== HERO CONTAINER STYLE ===============*/
.hero__container {
    display: grid;
    grid-template-columns: 48% 52%;
    gap: 7%;
    place-items: center;
    position: relative;
}
/*=============== HERO PROFILE STYLE ===============*/
.hero__profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
    padding-left: 3rem;
}

.hero__profile h1 {
    margin-bottom: 2.5rem;
}

.hero__profile h1 > span{
    color: var(--color-blue);
}

.hero__profile h5 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.hero__profile hr {
    width: 2rem;
    border: 0;
    border-top: 0.14rem solid var(--color-black);
}

.hero__profile p {
    width: 30rem;
    margin-bottom: 3.5rem;
}
/*=============== HERO BUTTONS STYLE ===============*/
.hero__btn {
    display: flex;
    gap: 1.5rem;
}

.hero__btn a {
    color: var(--color-black);
    border: 1px solid var(--color-black);

}
/*=============== HERO SOCIAL BUTTONS STYLE ===============*/
.hero__container .btn__socials {
    position: absolute;
    bottom: 2%;
    left:3%;
}
/*=============== HERO IMAGE STYLE ===============*/
.hero__container > img{
    background: url(../../assets/Background.png) no-repeat;
    background-size: cover;
    background-position:0 3rem;
}
/*=============== HERO MEDIA QUERY STYLE ===============*/
@media screen and (max-width: 1024px) {
    #hero{
        margin-top: 0;
        padding-top: 19.5rem;
    }
    .hero__container {
        grid-template-columns: 48% 61%;
        gap: 4%;
    }
    .hero__profile p {
        width: 100%;
    }
    .hero__container .btn__socials {
        left: 40%;
        bottom: 100%;
    }
}
@media screen and (max-width: 768px) {
    #hero{
        padding-top: 15.5rem;
    }
    .hero__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .hero__profile {
        padding-left: 0;
        max-width: 100%;
        align-items: center;
    }
    .hero__container .btn__socials {
        bottom: 105%;
    }
}

@media screen and  (max-width: 600px) {
    #hero{
        padding-top: 10.5rem;
    }
    .hero__container .btn__socials {
        display: none;
    }
    .hero__container > img{
        padding-top: 0;
    }
}