/*=============== PORTFOLIO SECTION STYLE ===============*/
#portfolio {
    background-color: var(--color-blue);
    color: var(--color-white);
}
/*=============== PORTFOLIO CONTAINER STYLE ===============*/
.portfolio__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*=============== PORTFOLIO FILTER BUTTONS STYLE ===============*/
.filter__btn {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
/*=============== PORTFOLIO CARD STYLE ===============*/
.portfolio__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.portfolio__item {
    background-color: var(--color-yellow);
    color: var(--color-black);
    padding: 1.3rem;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-white);
    transition: var(--transition);
}

.portfolio__item:hover {
    background-color: transparent;
    color: var(--color-white);
}

.portfolio__item-image {
    border-radius: var(--border-radius-2);
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}
/*=============== PORTFOLIO CARD BUTTONS STYLE ===============*/
.portfolio__item-links{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.portfolio__item-links .btn {
    color: var(--color-black);
    border: 1px solid var(--color-black);
}
.portfolio__item:hover > .portfolio__item-links .btn {
    color: var(--color-white);
    border: 1px solid var(--color-white);
}
/*=============== PORTFOLIO lOAD BUTTON STYLE ===============*/
.btn-load {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}
/*=============== PORTFOLIO MEDIA QUERY STYLE ===============*/
@media screen and (max-width: 1024px) {
.portfolio__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}
}
@media screen and  (max-width: 600px) { 
.portfolio__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
}
.filter__btn{
    flex-direction: column;
    align-items: center;
}
}