/*=============== ABOUT CONTAINER STYLE ===============*/
.about__container {
    display: grid;
    grid-template-columns: 35% 53%;
    gap: 10rem;
}
/*=============== ABOUT IMAGE STYLE ===============*/
.about__portrait {
    height: fit-content;
    min-height: 40rem;
    border: 1rem solid var(--color-blue);
    background-color: var(--color-yellow);
    transition: var(--transition);
    border-radius: var(--border-radius-2);
}
.about__portrait > img{
    background: url(../../assets/Background.png) no-repeat;
    background-size: cover;
    background-position:-5rem 1rem;
}

.about__portrait:hover {
    border-width: 0;
}
/*=============== ABOUT PARAGRAPH STYLE ===============*/
.about__right p {
    margin-bottom: 1.5rem;
}
/*=============== ABOUT BUTTONS STYLE ===============*/
.about__btns {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.about__btns .btn {
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.about__btns > .btn span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn-icon {
    font-size: 1.5rem;
}
/*=============== ABOUT POPUP STYLE ===============*/
.popup__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: var(--z-modal);
}

.popup__body {
    position: absolute;
    left: 35%;
    top: 0%;
    right:15%;
    bottom:30%; 
}

.popup__body > img {
    width: 69%;
    border-radius: var(--border-radius-2);
    border: .4rem solid var(--color-blue);
}
/*=============== ABOUT MEDIA QUERY STYLE ===============*/
@media screen and (max-width: 1024px) {
    .about__left{
        display: block;
    }

    .about__portrait {
        min-height: 20rem;
    }

    .about__container {
        grid-template-columns: 45% 53%;
        gap: 2rem;
        padding-bottom: 2.6rem;
    }

    .popup__body > img {
        width: 100%;
    }
    .popup__body {
        left: 23%;
        right: 23%;
    }
}

@media screen and (max-width: 768px) {
    .about__left {
        display: none;
    }
    .about__container {
        grid-template-columns: 1fr;
    }
    .about__right h2 {
        text-align: center;
    }
    .popup__body {
        top: 1%;
        left: 5%;
        right: 5%;
    }
}

@media screen and  (max-width: 600px) {
    .about__btns {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }
    .popup__body {
        top: 1%;
        left: 4%;
        right: 4%;
    }
}




