/*=============== DROPDOWN MENU STYLE ===============*/
.dropdown {
    width: 10rem;
    position: relative;
    display: none;
    user-select:none;
}
/*=============== DROPDOWN BUTTON STYLE ===============*/
.dropdown__btn {
    padding: 0.6rem 2.5rem;
    border-bottom: 1px solid var(--color-black);
    cursor: pointer;
    color: var(--color-black);
    display: grid;
    place-items: center;
    position: relative;
}

.dropdown > .dropdown__btn:hover {
    transform: none;
}
/*=============== DROPDOWN MENU BUTTONS STYLE ===============*/
.dropdown > .dropdown__content {
    position: absolute;
    top: 110%;
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-bottom: 1rem;
}

.dropdown__item {
    width: 100%;
}

.dropdown__item > a {
    padding: 0.6rem 2.5rem;
    border-bottom: 1px solid transparent;
    display: grid;
    place-items: center;
}

.dropdown__item a:hover {
    background: transparent;
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    transition: var(--transition);
}
.dropdown  .bg-yellow {
    height: auto;
}
/*=============== DROPDOWN MEDIA QUERY STYLE ===============*/
@media screen and  (max-width: 600px) { 
    .dropdown {
        display: block;
    }
}