.translate > .btn {
    font-size: 2.5rem;
    background-color: transparent;
    padding: 0.3rem 1.5rem;
    color: var(--color-text);
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}
.translate > .btn:hover {
    border-bottom: 1px solid var(--color-text-variant);
}

.translate {
    position: relative;
}
.translate img{
    max-width: 65%;
}


.translate__options {
    position: absolute;
    top: 110%;
    border-radius: var(--border-radius-3);
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.translate__item{
    background-color: transparent;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-text);
}

.translate__item:hover {
    color: var(--color-text-variant);
    border-bottom: 1px solid var(--color-text-variant);
    transition: var(--transition);
}