/*=============== FOOTER SECTION STYLE ===============*/
footer {
    padding: 3rem 0;
    text-align: center;
    color: var(--color-black);
    font-size: var(--small-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
/*=============== FOOTER LOGO STYLE ===============*/
.footer__logo {
    width: 7rem;
    height: 7rem;
}
/*=============== FOOTER SOCIAL BUTTONS STYLE ===============*/
footer > .btn__socials{
    gap: 2rem;
}